.table-custom-first-row,
.table-custom-first-row > th,
.table-custom-first-row > td {
  background-color: #21231f;
}
.error{
	color:red;
}
.btn-primary{
	color: #fff;
    background-color: #1b2d3f;
    border-color: #ffa707fa;
    border-width: medium;
	
}
a.customAnchor{
color: #cdff07;
    text-decoration: none;
    background-color: transparent;	
}

body.loginPage{
background: rgb(2,0,36);
background: -moz-linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(2,11,28,1) 6%, rgba(0,112,255,0.4206057422969187) 100%);
background: -webkit-linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(2,11,28,1) 6%, rgba(0,112,255,0.4206057422969187) 100%);
background: linear-gradient(138deg, rgba(2,0,36,1) 0%, rgba(2,11,28,1) 6%, rgba(0,112,255,0.4206057422969187) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#0070ff",GradientType=1);
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
./*btn-primary{
	color: #fff;
    background-color: #000000;
    border-color: #ffa707fa;
    border-width: medium;
	
}
html{
	min-height:100%;
}
label{
	color:#f2c074;
	font-weight: 650;
	
}*/