<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>E-DP-D</title>

<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />

<link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" />
<link th:href="@{/css/scrolling-nav.css}" rel="stylesheet" />
<link th:href="@{/css/sweetalert2.css}" rel="stylesheet" />
<link th:href="@{/css/custom.css}" rel="stylesheet" />
<link th:href="@{/css/all.css}" rel="stylesheet" />
<link th:href="@{/css/easy-autocomplete.css}" rel="stylesheet" />
<link th:href="@{/css/easy-autocomplete.themes.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet" />









</head>
 
<body>

	<div th:fragment="navbar">
	  <div th:insert="common/notification-modal :: notification-modal"></div>
	  <div th:insert="common/deposit-requests-modal :: deposit-requests-modal"></div>  
		  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    
    <div class="container">
      <a class="navbar-brand" href="#">E-Downpayment System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/home}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li>
            <button type="button" th:href="@{/getNotificationsByUser}" sec:authorize="isAuthenticated()" id="notificationButton" class="btn btn-outline-warning"
            data-toggle="modal" data-target="#exampleModalLong">
              Notifications
              <span id="notificationCountBadge" class="badge badge-light" th:text="0" value=""/>
            </button>
          </li>
            
          <!--Dropdown nav start-->
          <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span id="globalUserName"sec:authentication="name"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">  
              <a class="dropdown-item" sec:authorize="isAuthenticated()" href="#">User Profile</a>            
              <a class="dropdown-item" sec:authorize="isAuthenticated()" href="#">Transaction History</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
            </div>
          </li>   
          <!--Dropdown nav end-->                
            <li sec:authorize="isAnonymous()" class="nav-item">
          	<a class="nav-link" th:href="@{/login}">Login</a>
          </li>
         
                   
        </ul>
      </div>
    </div>
  </nav>
	</div>

	<div th:fragment="body-bottom-scripts">
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.js}"></script>
		<script th:src="@{/js/scrolling-nav.js}"></script>
		<script th:src="@{/js/jquery.easing.min.js}"></script>		
		<script th:src="@{/js/sweetalert2.min.js}"></script>
		<script th:src="@{/js/all.js}"></script>		
		<script th:src="@{/js/jquery.easy-autocomplete.js}"></script>
		<script th:src="@{/js/app.js}"></script>
		<script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
		
		
			</div>
	
</body>
</html>