<!DOCTYPE html>
<html lang="en">

<head th:replace="common/header :: common-header" />
<div th:replace="common/header :: navbar"></div> 
 <style>
 .dot {
  height: 150px;
  width:150px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  border-color:yellow;
  border: 2px solid #ffa833;
  color:#ffa833;
  font: 52px Arial, sans-serif;
  text-align: center;
  padding:13%;
}
 </style>
<body >
	
   <div class="container" style="margin-top:5%">
 
    
    

    <!-- Page Features -->
    <div class="row text-center">
		<div class="row">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <h4 class="card-title">Request</h4>
          <div class="card-body">            
            <p class="card-text">Create a deposit request</p>
          </div>
          <div class="card-footer">
             <a th:href="@{/request}" class="btn btn-primary">Go!</a>
          </div>
        </div>
      </div>
    <div class="col-lg-4 col-md-6 mb-4">
  <div class="card h-100">
          
          <h4 class="card-title">Pending Requests</h4>
          <div class="card-body">            
             <div class="dot"></div> 
              <p class="card-text" style="margin-top:5%"><span><i class="fas fa-coins fa-4x"></i></span></p>
             
          </div>
          <div class="card-footer">
             <a th:href="@{/}" class="btn btn-primary">Show</a>
          </div>
        </div>
    </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
			<h4 class="card-title">Send</h4>            
          <div class="card-body">
            <p class="card-text">Send  credit-deposit  directly</p>
          </div>
          <div class="card-footer">
            <a th:href="@{/send}" class="btn btn-primary">Go!</a>
          </div>
        </div>
      </div>
      
      </div>
</div>
     
<!-- /.row -->
    </div>
    <!-- /.container -->
<div class="container" style="margin-top:7%">
<h4><label>Your Products</label><a th:href="@{/addProduct}" class="btn btn-primary" style="float:right">Add Product</a> </h4>
  <table id="notificationsTable" class="table table-dark table-striped table-hover ">
      <tr class="table-custom-first-row">
        <th>Product Name</th>
        <th>Product URL</th>
        <th>Is Active?</th>
        <th>Deposit Value</th>
        <th>Notes</th>
        <th></th>
      </tr>
       
      <tr th:each="x : ${userProducts}">
        <td th:text="${x.name}"></td>
       <td> <a th:href="${x.url}" th:text="${x.url}" target="_blank" ></a></td>
        <td th:text="${x.isActive}">
        <td th:text="${x.requestedValue}"></td> 
         <td th:text="${x.notes}"></td> 
          <td>
        <button type="button" class="btn btn-danger">Unlist</button>       
        </td>       
      </tr>
    </table>
</div>
  
  
 
   
<div th:replace="common/header :: body-bottom-scripts"></div>
 
</body>

</html>
