<!DOCTYPE html>
<html lang="en">

<head th:replace="common/header :: common-header" />
<div th:replace="common/header :: navbar"></div> 
 
<body >
	
   <div class="container" style="margin-top:5%">
   
    <!-- Page Features -->
    
      <form class="form-vertical" th:action="@{/requestDeposit}" method="post" th:object="${depositRequest}" id="sendForm">
        <label> I am a </label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
		  
		  <div class="form group">
		  <label class="btn btn-primary active">
		    <input type="radio" name="requestType" id="buyerRadio"  value="1" autocomplete="off" checked> Buyer
		  </label>
		 
		  <label class="btn btn-primary" style="margin-left: 2%">
		    <input type="radio" name="requestType" id="sellerRadio"  value="2" autocomplete="off"> Seller
		  </label>	
		  </div>	  
	  </div>
        
        <div class="form-group">
						<label class="col-md-2 control-label" for="userCredit">Your Credit</label>
						<div class="col-md-8">
							<input type="text" name="userCredit" class="form-control"  id="userCredit" th:field="*{relatedDeposit.userCurrentCredit.amount}"
								th:if="${depositRequest.relatedDeposit.userCurrentCredit.amount}!=null"	
							th:value="${depositRequest.relatedDeposit.userCurrentCredit.amount}" readonly placeholder="Amount" />	
							
							<input type="text" name="userCredit" class="form-control"  id="userCredit" th:field="*{relatedDeposit.userCurrentCredit.amount}"
							th:if="${depositRequest.relatedDeposit.userCurrentCredit.amount}==null" th:value="${depositRequest.relatedDeposit.userCurrentCredit.amount}"	 readonly placeholder="Credit Amount" />							
						</div>
          </div>
        
        <div class="form-group">
						<label class="col-md-2 control-label" for="amount">Amount</label>
						<div class="col-md-8">
							<input type="text" name="amount" readonly class="form-control" id="amount" th:field="*{relatedDeposit.amount}"
							th:if="${depositRequest.relatedDeposit.amount}!=null"	
							th:value="${depositRequest.relatedDeposit.amount}" required="required" placeholder="Amount" />
							
							<input type="text" name="amount" readonly class="form-control" id="amount"  th:field="*{relatedDeposit.amount}"
							th:if="${depositRequest.relatedDeposit}==null"	
							  required="required" placeholder="Amount" />
							<div th:if="${#fields.hasErrors('*{relatedDeposit.amount}')}" th:errors="*{relatedDeposit.amount}" value=""></div>
							
							<label style="color:rosybrown;display:none" id="amountLimit">Amount cannot be more than your total credit!</label>						
						</div>
          </div>
          
          <div class="form-group">
						<label class="col-md-2 control-label" for="username">Sent To</label>						 
						<div class="row" style="margin-left:0%">						 
							<div class="col-sm-8">
							<input type="text"  class="form-control" name="sentToUserName" id="sentToUserName"   th:field="*{relatedDeposit.sentToUserName}"
								th:if="${depositRequest.relatedDeposit.sentToUserName}!=null" th:value="${depositRequest.relatedDeposit.sentToUserName}" required="required" placeholder="enter username to search..." />		
							
							<input type="text"  class="form-control" name="sentToUserName" id="sentToUserName"   th:field="*{relatedDeposit.sentToUserName}"
								th:if="${depositRequest.relatedDeposit.sentToUserName}==null"  value="" required="required" placeholder="enter username to search..." />
							
							</div>
							<div class=col-sm-4>
							<img src="/images/spinner-2.gif" style="display:none" id="spinnerProductSearch">
							<button  id="searchProductsByUserName"   type="button" onclick="searchProductsByUser()"  class="btn btn-primary btn-sm">Search for products</button>
							</div>																															
						 
						</div>
          </div>
          
           <div class="form-group">
						<label class="col-md-2 control-label" for="userProducts">Products</label>
						<label class="col-md-2 control-label" id="productsLoaded"  style="display:none;color:green;">Products loaded!</label>
						<div class="col-md-8">
							 <select class="form-control" name="userProducts" id="userProducts">
                <option value="-1">Select Products</option>                
              </select>	
              					
						</div>
		  </div>  
		  <div class="form-group input-append date form_datetime">
						<label class="col-md-2 control-label" >Expiration Date</label>
						<div class="col-md-8 ">
<!-- 							<input type="number" th:field="*{expirationTimer}">			  -->
                                
              				
    						<input size="50" type="text" th:field="*{expirationDate}"  value="" readonly placeholder="Select a date-time..." >    						
    						<span class="add-on"><i class= "far fa-calendar-alt"></i></span>
						</div>
						<div style="color:red" class="col-md-3"id="timer"></div>	
							
						
		  </div>
			
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" id="request" th:href="@{/}" class="btn btn-primary btn-lg">Request</button>							
						</div>
					</div>
					<div class="form-group">						
						<div class="col-md-8">
							<div class="col-md-8" id="msgdiv">
							<input type="hidden"  name="msg" class="form-control" id="msg"  
								th:if="${message}!=null"  th:value="${messageValue}" th:text="${message}"/>		
								<input type="hidden" style="display:none" name="msg" class="form-control" id="msg"  
								th:if="${message}==null"/>						
							</div>            				
						</div>
					</div>
				</form>
     
         
				 
				</div>    
    <!-- /.container -->
 
   
<div th:replace="common/header :: body-bottom-scripts"></div>

 <script>
 function checkMessageAndShowAlert () {		
		if($("#msg").val()=="1")
		{
			
			Swal.fire({
				  type: 'success',
				  title: 'Sent!',
				  text: 'The deposit has been sent successfully!Expiration Date: '  			  
				})				
		}
		else if($("#msg").val()=="2")
		{
			Swal.fire({
				  type: 'error',
				  title: 'Oops...',
				  text: $("#msgdiv").text()					  
				})
		}
	};

	 $(document).ready(function()
 	 {	 
	 	checkMessageAndShowAlert();
	 
	 })
	


 setTimeout(function () {
	$("#amount").on("keyup",function(){
		console.log($("#amount").val())
		console.log($("#userCredit").val())
		if(parseFloat($("#amount").val())>$("#userCredit").val())
		$("#amountLimit").show();
		else
		$("#amountLimit").hide();
	});
},1);


	 $(".form_datetime").datetimepicker({
	       format: 'yyyy-mm-dd hh:ii:ss',
	       autoclose: true,
	       startDate: new Date()	      
	   });


	 $("#expirationDate").on("change",function(){
		 beginTimer($("#expirationDate").val(),"timer");
	})
	
	 
	 
	 

	
 </script>
</body>

</html>
