<!DOCTYPE html>
<html lang="en">

<head th:replace="common/header :: common-header" />
<div th:replace="common/header :: navbar"></div> 
 
<body >
	
   <div class="container" style="margin-top:5%">
   
    <!-- Page Features -->
    
      <form class="form-vertical" th:action="@{/sendDeposit}" method="post" th:object="${deposit}" id="sendForm">
        
        <div class="form-group">
						<label class="col-md-2 control-label" for="userCredit">Your Credit</label>
						<div class="col-md-8">
							<input type="text" name="userCredit" class="form-control" id="userCredit"
								th:if="${userCredit}!=null"	
							th:value="${userCredit.amount}" readonly placeholder="Amount" />	
							
							<input type="text" name="userCredit" class="form-control" id="userCredit"
							th:if="${userCredit}==null"	 readonly placeholder="Credit Amount" />							
						</div>
          </div>
        
        <div class="form-group">
						<label class="col-md-2 control-label" for="amount">Amount</label>
						<div class="col-md-8">
							<input type="text" name="amount" class="form-control" id="amount" th:field="*{amount}"
							th:if="${deposit.amount}!=null"	
							th:value="${deposit.amount}" required="required" placeholder="Amount" />
							
							<input type="text" name="amount" class="form-control" id="amount" th:field="*{amount}"
							th:if="${deposit.amount}==null"	
							th:value="" required="required" placeholder="Amount" />
							<div th:if="${#fields.hasErrors('*{amount}')}" th:errors="*{amount}" value=""></div>
							<label style="color:rosybrown;display:none" id="amountLimit">Amount cannot be more than your total credit!</label>						
						</div>
          </div>
          
          <div class="form-group">
						<label class="col-md-2 control-label" for="username">Sent To</label>						 
						<div class="row" style="margin-left:0%">						 
							<div class="col-sm-8">
							<input type="text"  name="sentToUserName" class="form-control" id="depositUsername"  
								th:if="${deposit.sentToUserName}!=null" th:value="${deposit.sentToUserName}" required="required" placeholder="enter username" />		
							<input type="text" name="sentToUserName" class="form-control" id="depositUsername"  
								th:if="${deposit.sentToUserName}==null"  required="required" placeholder="enter username" />
							</div>
							<div class=col-sm-4>
							<img src="/images/spinner-2.gif" style="display:none" id="spinnerProductSearch">
							<button  id="searchProductsByUserName"   type="button" onclick="searchProductsByUser()"  class="btn btn-primary btn-sm">Search for products</button>
							</div>																															
						 
						</div>
          </div>
          
           <div class="form-group">
						<label class="col-md-2 control-label" for="userProducts">Products</label>
						<div class="col-md-8">
							 <select class="form-control" name="userProducts" id="userProducts">
                <option value="-1">Select Products</option>                
              </select>						
						</div>
					</div>  

			
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" id="send" th:href="@{/}" class="btn btn-primary btn-lg">Send</button>							
						</div>
					</div>
					<div class="form-group">						
						<div class="col-md-8">
							<div class="col-md-8">
							<input type="hidden"  name="msg" class="form-control" id="msg"  
								th:if="${message}!=null"  th:value="${messageValue}" th:text="${message}"/>		
								<input type="hidden" style="display:none"name="msg" class="form-control" id="msg"  
								th:if="${message}==null"/>						
							</div>            				
						</div>
					</div>
				</form>
     
         
				 
				</div>    
    <!-- /.container -->
 
   
<div th:replace="common/header :: body-bottom-scripts"></div>

 <script>
 function checkMessageAndShowAlert () {		
		if($("#msg").val()=="1")
		{
			Swal.fire({
				  type: 'success',
				  title: 'Sent!',
				  text: 'The deposit has been sent successfully!'					  
				})				
		}
		else if($("#msg").val()=="2")
		{
			Swal.fire({
				  type: 'error',
				  title: 'Oops...',
				  text: 'Something went wrong!'					  
				})
		}
	};

	 $(document).ready(function()
 	 {	 
	 	checkMessageAndShowAlert();
	 
	 })

	

 
 

	


 setTimeout(function () {
	$("#amount").on("keyup",function(){
		console.log($("#amount").val())
		console.log($("#userCredit").val())
		if(parseFloat($("#amount").val())>$("#userCredit").val())
		$("#amountLimit").show();
		else
		$("#amountLimit").hide();
	});
},1);
 </script>
</body>

</html>
